body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(227, 172, 69);
}

.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
   margin-top: 20px;
}

.location-form {
    display: flex;
    align-items: center;     /* vertically center inputs + icon */
    justify-content: center; /* center entire row */
    gap: 10px;               /* spacing */
}

.locator {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.locator:hover{
    filter: opacity(0.2);
}