body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(227, 172, 69);
}

.weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}